html {
  overflow-y: scroll;
}
:root {
  --bgcolor: #fff;
  --fontcolor: #444;
  --codebgcolor: #eee;
  --bracketcolor: #ddd;
  --indentguideline: #eee;
  --blockquotebgcolor: #eee;
  --blockquotelinecolor: #ddd;
  --wikilinkhoverbgcolor: #eee;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bgcolor: #000;
    --fontcolor: #ccc;
    --codebgcolor: #222;
    --bracketcolor: #333;
    --indentguideline: #222;
    --blockquotebgcolor: #111;
    --blockquotelinecolor: #222;
    --wikilinkhoverbgcolor: #222;
  }
}
body {
  width: 87.5%;
  max-width: 800px;
  margin: 40px auto;
  padding: 0 10px;
  font-family: sans-serif;
  font-size: 1.125rem;
  line-height: 1.8rem;
  color: var(--fontcolor);
  background: var(--bgcolor);
}
a {
  color: var(--fontcolor);
}
.brackets {
  color: var(--bracketcolor);
}
.wikilink:hover {
  background-color: var(--wikilinkhoverbgcolor);
}
.wikilink > a {
  text-decoration: none;
}
h1,
h2,
h3 {
  font-weight: 500;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  line-height: 1;
}
h1 {
  font-size: 3rem;
  margin-top: 4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
li,
p,
dl,
ol,
ul {
  margin-bottom: 1rem;
}
ul {
  position: relative;
  list-style-type: none;
}
/* Identation Guideline aligned to parent */
ul::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  border: 1.5px solid var(--indentguideline);
}
code {
  background: var(--codebgcolor);
  font-family: monospace;
  border-radius: 3px;
  font-size: 0.9rem;
  padding: 0.1rem 0.3rem;
  overflow-wrap: break-word;
}
pre > code {
  background: transparent;
}
pre {
  background: var(--codebgcolor);
  padding: 1.2rem;
  overflow-x: auto;
}
blockquote {
  padding: 1.5rem;
  background: var(--blockquotebgcolor);
  border-left: 3px solid var(--blockquotelinecolor);
  font-family: serif;
  font-style: italic;
  margin: 0;
}
article {
  padding: 24px 0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
figcaption {
  color: #888;
  font: 12px/1.5 monospace;
  text-align: center;
}
figure {
  margin: auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}
